

/* Estilos para el modal PARCELAS*/
.tbl_container {
    margin-top: 20px;
}

.modal-body p {
    margin-bottom: 10px;
}

.table td, .table th {
    vertical-align: middle;
}

/* Estilos para CULTIVOS */

body {
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
}

.table {
    border-radius: 12px;
    overflow: hidden;
}

.modal-header.bg-danger {
    background-color: #dc3545;
    color: white;
}

.btn {
    border-radius: 10px;
}



/* Submenú personalizado */
.dropdown-menu-custom {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

.dropdown-menu-custom li a {
    display: block;
    padding: 5px 0;
    color: #333;
    text-decoration: none;
}

.dropdown-menu-custom li a:hover {
    text-decoration: underline;
}



/* Estilos para graficos del index*/
.card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .display-6 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .card {
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  }
  
/* boton de vender en modal cosecha*/
  #btnToggleEstadoVenta:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}