{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Formulario Plantacion {% endblock %}

{% block content %}
<div class="container py-4">
    <div class="text-center mb-4">
        <h2 class="fw-bold">
            {% if form.instance.pk %} Editar Plantacion {% else %} Nueva Plantacion {% endif %}
        </h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <!-- Mostrar nombre de la parcela  -->
                        {% if parcela %}
                        <input type="hidden" name="parcela_id" value="{{ parcela.idparcela }}">

                            <div class="mb-3">
                                <label class="form-label fw-bold">Parcela:</label>
                                <div>{{ parcela.nombre }}</div>
                            </div>
                        {% endif %}
                        <!-- Aquí renderizas todo el form automáticamente -->
                        {{ form|crispy }}
                        
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'lista_plantaciones' %}" class="btn btn-secondary">Cancelar</a>
                            <button type="submit" class="btn btn-primary">
                                {% if form.instance.pk %} Actualizar {% else %} Guardar {% endif %}
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
